table {
	font-family: 'Roboto Condensed', sans-serif;
	min-width: 500px;
	margin-top: -2px;
}

th {
	font-weight: normal;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.order:hover {
	cursor: pointer;
}

.sorted {
	font-weight: bold;
}

.sorted:after {
    content: "  \25bc";
    font-size: 12px;
}

@media only screen and (max-width: 800px){

    table{
    	min-width: 0;
    	margin-top: 0;
    }
    
}